body {
    background-color: black;
}

#accountRegister > .row {
    min-height: 92vh;
}

/*
SMALL SCREEN
*/
@media screen and (max-width: 640px) {
    #accountRegister {
        padding-top: 75%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('/images/SignUp_Mobile_BG_v01_01_DbJQ.png');
        background-color: #191919;
    }   
}
/*
LARGE SCREEN
*/
@media screen and (min-width: 641px) {
    #accountRegister {
       background-image: url('/images/SignUp_Desktop_BG_v01_01_DbJQ.png');
       background-repeat: no-repeat;
       background-position: center;
        background-size: cover;
        background-color: #191919;
    }
}