body {
    background-color: black;
}

#accountLogin > .row {
    min-height: 92vh;
}

/*
SMALL SCREEN
*/
@media screen and (max-width: 640px) {
    #accountLogin {
        padding-top: 75%;
        background-size: 100%;
        background-image: url('/images/Login_Mobile_BG_v01_01_DbJQ.png');
    }   
}
/*
LARGE SCREEN
*/
@media screen and (min-width: 641px) {
    #accountLogin {
       background-image: url('/images/Login_Desktop_BG_v01_01_DbJQ.png');
       background-repeat: no-repeat;
       background-position: center;
        background-size: cover;
    }

    .px-lg-5 {
        padding-left: 3rem!important;
    }
}