body {
    background-color: black;
}

/*
SMALL SCREEN
*/
@media screen and (max-width: 640px) {
    .btn-white-square {
        left: 35%;
        bottom: 25%;
    }
}
/*
LARGE SCREEN
*/
@media screen and (min-width: 641px) {
    .btn-white-square {
        left: 25%;
        bottom: 35%;
    }
}

#accountSettings {
        min-height: 95vh;
        background-color: black;
    }

#accountSettings > .row {
    min-height: 92vh;
}

.login-input::-webkit-input-placeholder {
    color : grey !important;
}

.login-label {
    text-transform: uppercase !important;
    font-weight: bolder;
    color : white !important;
}