/*
SMALL SCREEN
*/
@media screen and (max-width: 640px) {
    #section1Homepage {
        background-size: cover;
        background-image: url("/Specialiste_Pronos_Images/Images/Home_Backgrounds/Home_Mobile_Background_v01_01_DbJQ.png");
    }

    #section3Homepage {
        background-size: cover;
        background-image: url('/Specialiste_Pronos_Images/Backgrounds/Background_Web_Black_v01_01_DbJQ_new.jpg');
    }

    #sectionVipPack {
        background-size: cover;
        background-image: url('/Specialiste_Pronos_Images/Backgrounds/Background_Web_Purple_v01_01_DbJQ.jpg');
    }

    #resaux {
        background-size: cover;
        background-image: url('/Specialiste_Pronos_Images/Backgrounds/Background_Web_Black_v01_01_DbJQ_new.jpg');
    }
}
/*
LARGE SCREEN
*/
@media screen and (min-width: 641px) {
    #section1Homepage {
        background-size: cover;
        background-image: url("/Specialiste_Pronos_Images/Images/Home_Backgrounds/Home_Desktop_Background_v01_01_DbJQ.png");
    }

    #section3Homepage {
        background-size: cover;
        background-image: url('/Specialiste_Pronos_Images/Backgrounds/Background_Web_Black_v01_01_DbJQ_new.jpg');
    }

    #sectionVipPack {
        background-size: cover;
        background-image: url('/Specialiste_Pronos_Images/Backgrounds/Background_Web_Purple_v01_01_DbJQ.jpg');
    }

    #resaux {
        background-size: cover;
        background-image: url('/Specialiste_Pronos_Images/Backgrounds/Background_Web_Black_v01_01_DbJQ_new.jpg');
    }
}

#Clique-ici {
  width: 315px;
  height: 24px;
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: underline dashed;
}

.img-logo {
    width: 155px;
    height: 177px;
}

.Title_sp{
    font-size: 36px!important;
    line-height: 29px!important;
}

#Clique-ici:hover {
    text-decoration: underline;
}