html {
    font-family: 'Lato', sans-serif;
}

body{
    overflow-x: hidden;
}

/*
    Primary Color
*/
.black-color-font {
    color: #191919;
}

.white-color-font {
    color: #FFFFFF;
}

.gold-color-font {
    color: #BD8B28;
}

.blue-color-font {
    color: #6db9ff;
}

/*
    Secondary Color
*/
.blue-color-font {
    color: #262A43;
}

.grey-color-font {
    color: #C8C8C8;
}

.red-color-font {
    color: #B63030;
}

.lato-font{
    font-family: 'Lato', sans-serif;
}

.login-label, .contact-label {
    color: #999;
}

.login-input {
    color: white !important;
    background-color: transparent;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-style: solid;
    border-color: white;
    border-radius: 0;
}

.login-input:focus {
    color: white !important;
    background-color: transparent;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-style: solid;
    border-color: white;
    border-radius: 0;
    box-shadow: none;
}

input{
    padding: 1.75em 1.10em !important;
}

input::-webkit-input-placeholder, #contactMessage::-webkit-input-placeholder {
    color: white !important;
    font-weight: bolder;
}

input.login-input::-webkit-input-placeholder {
  color: black;
  font-weight: bolder;
}

.form-control {
    color: black;
}

.contact-input {
    border-radius : .50em;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.contact-input.is-invalid {
    border-radius : .25em;
    border-style: solid;
    border-width: 1px;
    border-color: #B63030 !important;
    background-color: white;
}

.is-invalid {
    color: #B63030 !important;
   border-color: #B63030 !important; 
}

.full-h-line {
    line-height: 100%;
}

.is-invalid:focus {
    box-shadow: none !important;
}

input.is-invalid::-webkit-input-placeholder {
  color: #B63030;
}

.bg-grey {
    background-color: #1f1f1f;
}

.bg-light-grey {
    background-color: #bcbcbc;
}

.bg-white {
    background-color: white;
}

.bg-black{
    background-color: black;
}

.bg-dark {
    background-color: #191919;
}

.pourcentContainer {
    position: relative;
}

.roundCornerImage {
    border-radius: 10px;
}

.round-corner-box {
    border-radius: 15px;
}

.round-corner-box-left {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.bg-img-purple {
    background-image: url('/Specialiste_Pronos_Images/Backgrounds/Background_Web_Purple_v01_01_DbJQ.jpg');
}

.bg-img-dark{
    background-image: url('/Specialiste_Pronos_Images/Backgrounds/Background_Web_Black_v01_01_DbJQ_new.jpg');
}

hr{
    border-top:3px solid white;
}

.p-0 {
    padding: 0 !important;
}

.px-0 {
    padding-left : 0;
    padding-right : 0;
}

.px-15{
    padding:0 11rem!important;
}

.px-10{
    padding:0 7rem!important;
}

.img-round{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.text-capitalize {
    text-transform: capitalize;
}

.border-top-gold{
    border-top: 2px solid #BD8B28;
}

.upper {
    text-transform: uppercase;
}

.bolder {
    font-weight: bold;
}

.font-light {
    font-weight: 300;
}

.vs-font{
    text-transform: uppercase;
    font-size: 50px;
}

.row-mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
@media screen and (max-width: 640px) {
    .mx-sm-auto {
        margin-left: auto!important;
    }

    .h1 {
        font-family: Avenir;
        font-size: 36px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    .h2 {
        font-family: Lato;
        font-size: 28px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    .h3 {
        font-size: 14px;
        line-height: 16px;
        
    }

    .h4{
        font-size: 14px;
        font-weight: lighter;
        font-family: 'Lato', sans-serif;
    } 

    p {
        font-size: 18px;
        line-height: 20px;
        color: #191919;
        font-family: 'Lato', sans-serif;
    }

    .btn-primary {
        border-radius: 30px;
        background-color: black;
        /*Avenir medium*/
        font-size: 14px;
        color: white;
        border-color: black;    
        padding-top: 15px;
        padding-bottom: 15px;
        border-width: 1px;
        border-style: solid;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-primary:hover {
        opacity: 30%;
        border-radius: 30px;
        background-color: black;
        /*Avenir medium*/
        font-size: 14px;
        color: white;
        border-color: black;    
        padding-top: 15px;
        padding-bottom: 15px;
        border-width: 1px;
        border-style: solid;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-primary:active {
        border-radius: 30px;
        background-color: black;
        /*Avenir medium*/
        font-size: 14px;
        color: white;
        border-color: black;    
        padding-top: 15px;
        padding-bottom: 15px;
        border-width: 1px;
        border-style: solid;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-secondary {
        border-radius: 30px;
        font-size: 14px;
        color: white;
        background-color: #262A43;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-secondary:hover {
        opacity: 30%;
        border-radius: 30px;
        font-size: 14px;
        color: white;
        background-color: #262A43;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
        border-radius: 30px;
        font-size: 14px;
        color: white;
        background-color: #262A43;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-third {
        border-radius: 30px;
        font-size: 14px;
        background-color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        color: black;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-third:hover {
        opacity: 30%;
        border-radius: 30px;
        font-size: 14px;
        background-color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        color: black;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-third:not(:disabled):not(.disabled).active, .btn-third:not(:disabled):not(.disabled):active, .show>.btn-third.dropdown-toggle{
        border-radius: 30px;
        font-size: 14px;
        background-color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        color: black;
        padding-left: 55px;
        padding-right: 55px;
    }
}

@media screen and (min-width: 641px) {
    .px-lg-5 {
        padding-left: 3rem!important;
    }

    .px-lg-3 {
        padding-left: 1rem!important;
    }

    .h1 {
        font-size: 28px;
        font-weight: bold;
        line-height: 30px;
        /*Avenir font*/
    }

    .h2 {
        font-size: 28px;
        line-height: 24px;
        font-family: 'Lato', sans-serif;
    }

    .h3 {
        font-size: 22px;
        line-height: 24px;
        font-weight: lighter;
        font-family: 'Lato', sans-serif;
    }

    p {
        font-size: 24px;
        line-height: 30px;
        color: #191919;
        font-family: 'Lato', sans-serif;
    }

    .btn-primary {
        border-radius: 30px;
        background-color: black;
        font-size: 22px;
        color: white;
        border-color: black;    
        border-width: 1px;
        border-style: solid;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-primary:hover {
        opacity: 30%;
       border-radius: 30px;
        background-color: black;
        font-size: 22px;
        color: white;
        border-color: black;    
        border-width: 1px;
        border-style: solid;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-primary:active {
       border-radius: 30px;
        background-color: black !important;
        font-size: 22px;
        color: white;
        border-color: black;    
        border-width: 1px;
        border-style: solid;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-secondary {
        border-radius: 30px;
        font-size: 22px;
        color: white;
        background-color: #262A43;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-secondary:hover {
        opacity: 30%;
        border-radius: 30px;
        font-size: 22px;
        color: white;
        background-color: #262A43;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
        border-radius: 30px;
        font-size: 22px;
        color: white;
        background-color: #262A43;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-third {
        border-radius: 30px;
        font-size: 22px;
        background-color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        color: black;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-third:hover {
        opacity: 30%;
        border-radius: 30px;
        font-size: 22px;
        background-color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        color: black;
        padding-left: 55px;
        padding-right: 55px;
    }

    .btn-third:not(:disabled):not(.disabled).active, .btn-third:not(:disabled):not(.disabled):active, .show>.btn-third.dropdown-toggle{
        border-radius: 30px;
        font-size: 22px;
        background-color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        color: black;
        padding-left: 55px;
        padding-right: 55px;
    }
}

.outline-btn {
    border: 3px solid black;
    background-color: white;
    border-radius: 30px;
    font-size: 22px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    padding-right: 55px;
}

.outline-btn-white {
    border: 1px solid white;
    background-color: transparent;
    font-size: 22px;
    border-radius: 30px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
}

.outline-btn-white:hover {
    opacity: 30%;
    border: 1px solid white;
    background-color: transparent;
    font-size: 22px;
    border-radius: 30px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
}

.btn-white-round {
    padding : 5px 1.5em;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    background-color: white;
    color: black;
}

.box-shadow {
    -webkit-box-shadow: 0px 9px 11px -3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 9px 11px -3px rgba(0,0,0,1);
    box-shadow: 0px 9px 11px -3px rgba(0,0,0,1);
}

/*
SMALL SCREEN
*/
@media screen and (max-width: 640px) {
    .btn-white-square {
        left: 35%;
        bottom: 25%;
    }

    
    .VS {
        width: 115px;
        height: 48px;
        font-family: Lato;
        font-size: 37px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.65;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .VS-text-left {
    width: 115px;
    height: 40px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    }

    .VS-text-right {
    width: 130px;
    height: 40px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    }

    .FOOTBALL {
        width: 115px;
        height: 24px;
        font-family: Lato;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: #ffffff;
    }

    .hours{
        width: 178px;
        height: 24px;
        font-family: Lato;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
    }

    .mon-Pronos {
        width: 115px;
        height: 22px;
        font-family: Lato;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #ffffff;
    }

    .cote {
        width: 143px;
        height: 22px;
        font-family: Lato;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
    }

    .butteur-chance {
        width: 256px;
        height: 37px;
        font-family: Lato;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #ffffff;
    }
}
/*
LARGE SCREEN
*/
@media screen and (min-width: 641px) {
    .btn-white-square {
        left: 25%;
        bottom: 25%;
    }

    .VS {
        width: 153px;
        height: 48px;
        font-family: Lato;
        font-size: 60px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.4;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .VS-text-left {
        width: 153px;
        height: 55px;
        font-family: Lato;
        font-size: 24px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #ffffff;
    }

    .VS-text-right {
        width: 187px;
        height: 80px;
        font-family: Lato;
        font-size: 24px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;

    }

    .FOOTBALL {
        width: 153px;
        height: 24px;
        font-family: Lato;
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: normal;
        color: #ffffff;
    }

    .hours{
        width: 237px;
        height: 24px;
        font-family: Lato;
        font-size: 22px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
    }

    .mon-Pronos {
        width: 153px;
        height: 22px;
        font-family: Lato;
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.91;
        letter-spacing: normal;
        color: #ffffff;
    }

    .cote {
       width: 191px;
        height: 22px;
        font-family: Lato;
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.91;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
    }

    .butteur-chance {
        width: 341px;
        height: 55px;
        font-family: Lato;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #ffffff;
    }
}

#vippackSection {
    background-image: url('/Specialiste_Pronos_Images/Backgrounds/Background_Web_Purple_v01_01_DbJQ.jpg');
}

.btn-white-square {
    text-transform: capitalize !important;
    color: white;   
    border: 2px solid white;    
    font-size: 20px;
    padding: 10px 40px;
}

.box-shadow-account-user {
 -webkit-box-shadow: 25px 23px 106px -7px rgba(0,0,0,1);
-moz-box-shadow: 25px 23px 106px -7px rgba(0,0,0,1);
box-shadow: 25px 23px 106px -7px rgba(0,0,0,1);
}

.bg-absolute {
    position: absolute;
}

.player-absolute {
    position: absolute;
}

@media screen and (min-width: 992px){
    .height-100 {
        height: 100vh;
    }

    #t1-abs {
        position: absolute;
        left: 20%;
        font-size: 2vw;
        top: 11vw;
    }

    #prc1-abs {
        position: absolute;
        font-size: 2.6vw;
        left: 21%;
        top: 18vw;
    }

    #pb1-abs {
        position: absolute;
        font-size: 1.8vw;
        left: 45%;
        top: 21vw;
    }

    #p1-abs{
        line-height: normal;
        position: absolute;
        font-size: 1.4vw;
        top: 24vw;
        left: 20%;
    }
    #p2-abs{
        line-height: normal;
        position: absolute;
        font-size: 1.1vw;
        top: 22vw;
        left: 24%;
    }
    #t2-abs {
        position: absolute;
        left: 20%;
        font-size: 2vw;
        top: 7vw;
    }

    #prc2-abs {
        position: absolute;
        font-size: 2.6vw;
        left: 21%;
        top: 14vw;
    }

    #pb2-abs {
        position: absolute;
        font-size: 1.8vw;
        left: 45%;
        top: 18vw;
    }
    #btn2-abs {
        top:38vw;
        left:34%
    }

    #p3-abs{
        line-height: normal;
        position: absolute;
        font-size: 1.1vw;
        top: 22vw;
        left: 24%;
    }

    #t3-abs {
         position: absolute;
         left: 20%;
         font-size: 2vw;
         top: 10vw;
     }

    #prc3-abs {
        position: absolute;
        font-size: 2.6vw;
        left: 21%;
        top: 16vw;
    }

    #pb3-abs {
        position: absolute;
        font-size: 1.8vw;
        left: 45%;
        top: 20vw;
    }
    #btn3-abs {
        top:40vw;
        left:34%
    }


    #p3-abs{
        line-height: normal;
        position: absolute;
        font-size: 1.4vw;
        top: 24vw;
        left: 25%;
    }

    .paragraphe-absolute {
        position: absolute;
        font-size: 0.9vw;
        top: 50%;
        left: 20%;
    }

    .btn-abs {
        position: absolute;
        top: 40vw;
        left: 15%;
    }
}
@media screen and (max-width: 991px){
    .height-100 {
        height: 750px;
    }

    #t1-abs {
        position: absolute;
        left: 20%;
        font-size: 4vw;
        top: 22%;
    }

    #prc1-abs {
        position: absolute;
        font-size: 4.6vw;
        left: 21%;
        top: 36%;
    }

    #pb1-abs {
        position: absolute;
        font-size: 2.8vw;
        left: 45%;
        top: 42%;
    }

    #p1-abs{
        line-height: normal;
        position: absolute;
        font-size: 2.4vw;
        top: 48%;
        left: 20%;
    }
    #p2-abs{
        line-height: normal;
        position: absolute;
        font-size: 2.1vw;
        top: 44%;
        left: 24%;
    }
    #t2-abs {
        position: absolute;
        left: 20%;
        font-size: 4vw;
        top: 14%;
    }

    #prc2-abs {
        position: absolute;
        font-size: 4.6vw;
        left: 21%;
        top: 28%;
    }

    #pb2-abs {
        position: absolute;
        font-size: 2.8vw;
        left: 45%;
        top: 36%;
    }
    #btn2-abs {
        top:76%;
        left:34%
    }

    #p3-abs{
        line-height: normal;
        position: absolute;
        font-size: 2.1vw;
        top: 44%;
        left: 24%;
    }

    #t3-abs {
        position: absolute;
        left: 20%;
        font-size: 4vw;
        top: 20%;
    }

    #prc3-abs {
        position: absolute;
        font-size: 4.6vw;
        left: 21%;
        top: 32%;
    }

    #pb3-abs {
        position: absolute;
        font-size: 2.8vw;
        left: 45%;
        top: 40%;
    }
    #btn3-abs {
        top:80%;
        left:34%
    }


    #p3-abs{
        line-height: normal;
        position: absolute;
        font-size: 2.4vw;
        top: 48%;
        left: 25%;
    }

    .paragraphe-absolute {
        position: absolute;
        font-size: 1.8vw;
        top: 50%;
        left: 20%;
    }

    .btn-abs {
        position: absolute;
        top: 80%;
        left: 15%;
    }
}



.pourcentInBackground{
    color:white;
    font-size: 125px !important;
    opacity: 40%;
    position: absolute;
    font-weight: bolder;
    right: 4%;
    top: 30%;
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
    .pourcentInBackground{
        color:white;
        font-size: 125px !important;
        opacity: 40%;
        position: absolute;
        font-weight: bolder;    
        right: 51%;
        top: 30%;
    }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
    .pourcentInBackground{
        color:white;
        font-size: 125px !important;
        opacity: 40%;
        position: absolute;
        font-weight: bolder;    
        right: 13%;
        top: 30%;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .pourcentInBackground{
        color:white;
        font-size: 125px !important;
        opacity: 40%;
        position: absolute;
        font-weight: bolder;    
        right: 34%;
        top: 30%;
    }
}
@media screen and (min-width: 1200px){
    .pourcentInBackground{
        color:white;
        font-size: 125px !important;
        opacity: 40%;
        position: absolute;
        font-weight: bolder;    
        right: 58%;
        top: 30%;
    }
}