.Menu_Icon_White:hover{
    cursor: pointer !important;
}

@media screen and (min-width: 450px){
    .nav{
        background-color: rgb(31, 31, 31);
        width: 100%;
    }

    .nav h1{
        margin-left: 5%;
        margin-top: 1.5%;
        color: white;
        font-size: 150%;
    }

    .nav span{
        position: relative;
        left: 55%;
    }

    .sidenav {
        display: none;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: black;
        opacity: 0.9;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 5%;
    }

    .sidenav a {
        text-align: right;
        text-decoration: none;
        font-size: 28px;
        font-weight: bold;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 640px) {
    #mcs_menu {
        padding-left: 44%;
    }
    .sidenav a {
        text-align: right;
        text-decoration: none;
        font-size: 16px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
}

@media screen and (min-width: 350px) and (max-width: 450px){
    .nav{
        background-color: rgb(31, 31, 31);
    }

    .nav img{
        margin-top: 1%;
        margin-left: 4%;
    }

    .nav h1{
        margin-left: 2%;
        margin-top: 3%;
        color: white;
        font-size: 100%;
    }

    .nav span{
        position: relative;
        left: 20%;
        font-size:25px;
        color: white;
    }

    .sidenav {
        display: none;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: black;
        opacity: 0.9;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}