/*
SMALL SCREEN
*/
@media screen and (max-width: 640px) {
    #sectionMessageSend {
        background-color: white;
    }

    #messageSendTextPart {
        text-align: center;
    }
}
/*
LARGE SCREEN
*/
@media screen and (min-width: 641px) {
    #sectionMessageSend {
        height: 90vh;
        background: no-repeat;
        background-image: url("/Specialiste_Pronos_Images/Images/Home_Backgrounds/Home_Desktop_Background_v01_01_DbJQ.png");
        background-size: cover;
    }

    #messageSendTextPart {
        padding: 0 11rem!important;
    }
}

.contact-input::placeholder, #contactMessage::placeholder{
    color: black !important;
}