/*
SMALL SCREEN
*/
@media screen and (max-width: 640px) {
    #paiementSuccess {
        background-color: white;
    }

    #paiementSuccess {
        text-align: center;
    }
}
/*
LARGE SCREEN
*/
@media screen and (min-width: 641px) {
    #paiementSuccess {
        height: 90vh;
    }

    #paiementSuccess {
        padding: 0 11rem!important;
    }
}

#paiementSuccess {
    background-color: black;
    height: 100vh;
}