
/*
SMALL SCREEN
*/
@media screen and (max-width: 640px) {
    .btn-white-square {
        left: 35%;
        bottom: 25%;
    }
}
/*
LARGE SCREEN
*/
@media screen and (min-width: 641px) {
    .btn-white-square {
        left: 25%;
        bottom: 35%;
    }
}

#accountSettings {
        min-height: 95vh;
        background-color: #1f1f1f;
    }

.login-input::-webkit-input-placeholder {
    color : grey !important;
}

.login-label {
    text-transform: uppercase !important;
    font-weight: bolder;
    color : white !important;
}

.card-paiement {    
    width: 106px;
  height: 73px;
  border-radius: 3px;
  margin: 2% 2% !important;
  border: solid 1px #e6e7e8;
  background-color: #ffffff;
}

.paiement-selected {
    border: 2px solid orange;
}

.stripe-card {
    border-radius: 3px;
    border: 1px solid white;
}

.input-card-number-stripe::placeholder {
    width: 185px;
  height: 19px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #878787 !important;
  text-decoration: underline;
}

.input-card-number-stripe {
    width: 255px;
  height: 57px;
  border-radius: 12px;
  background-color: #eeeeee;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #878787 !important;
  text-decoration: underline;
}

.input-card-expiration::placeholder {
    text-decoration: underline;
    text-align: center;
    color: grey !important;
}

.input-card-number-stripe {
    border-radius: 20px;
    color: grey !important;
    text-align: center;
}

.input-card-expiration {
    border-radius: 20px;
    text-align: center;
}