body {
    background-color: black;
}
/*
SMALL SCREEN
*/
@media screen and (max-width: 640px) {
    #sectionUser {
      background-color: #1f1f1f;
    }
}
/*
LARGE SCREEN
*/
@media screen and (min-width: 641px) {
    #sectionUser {
       background-color: #1f1f1f;
    }
}

#bg-img {
    background-image: url('/images/UserAccount_Desktop_Background_v01_01_DbJQ.png');
}

#bg-img-dark {
    background-image: url('/Specialiste_Pronos_Images/Backgrounds/Background_Web_Black_v01_01_DbJQ_new.jpg');
}